@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
    background-color: rgb(213, 213, 213); /* Bakgrundsfärg för hela sidan */
    margin: auto; /* Centrera sidan */
    padding: auto; /* Automatisk padding, även om detta inte påverkar mycket */
}

body {
    max-width: 1000px; /* Maxbredd för sidan */
    width: 100%; /* Gör sidan responsiv */
    margin: 0 auto; /* Centrera innehållet */
    background-color: white; /* Vit bakgrund */
    box-sizing: border-box; /* Räkna med padding och border i elementets storlek */
    padding: auto; /* Automatisk padding, detta ger inte effekt, bör ändras vid behov */
}

/* Header */

.header {
    display: flex; /* Använder flexbox för att arrangera innehållet */
    justify-content: center; /* Centrera innehållet horisontellt */
}

.backgroundImageHeader {
    background-image: url(assets/hand.jpeg);  
    background-position: center; /* Centrera bakgrundsbilden */
    background-size: cover; /* Täck hela området med bilden (kan läggas till för att förbättra utseendet) */
    width: 501px;  
    height: 540px;  
    display: flex; /* Använder flexbox för att arrangera innehållet */
    justify-content: center; /* Centrera innehållet horisontellt */
    align-items: center; /* Centrera innehållet vertikalt */
}

.heartLogoHeder {
    width: 190px;  
    height: 186px;  
}

.brownBackground {
    background-color: #9E6D52;  
    width: 500px;  
    height: 270px;  
    display: grid; /* Använder grid-layout för att arrangera innehållet */
    grid-template-columns: repeat(3, 1fr); /* Delar upp i tre kolumner */
}

.seedlingIcon {
    height: 196px; 
    width: 176px;  
    grid-area: 2 / 2; /* Positionerar ikonen i mitten av grid */
}

.greenBackground {
    background-color: #0A846E;
    width: 500px;  
    height: 270px;
    display: grid; /* Använder grid-layout för att arrangera innehållet */
    grid-template-columns: repeat(3, 1fr); /* Delar upp i tre kolumner */
}

.spadeIcon {
    height: 206px;
    width: 155px;
    grid-area: 2 / 2; /* Positionerar ikonen i mitten av grid */
}


/* Nav */


.navList {
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    padding-bottom: 10px;
    height: 50px;
    list-style: none;
    font-family: 'Maven Pro', sans-serif;
}

.NavListText {
    font-size: 20px;
    color: #055647;
    text-decoration: none;
    text-align: center;
}

.menu {
    box-shadow: 0 4px 4px 0 rgba(3, 56, 47, 0.11); /* Skugga för menyn */
}


/* Main */
.main {
    max-width: 1000px; 
    width: 100%; /* Gör sidan responsiv */
    margin-top: 2rem;  
    background-color: white;  
    box-sizing: border-box;  
    padding: 0;  
}

.main-name {
    color: rgba(10, 132, 110, 255);  
    text-align: center;  
    font-family: 'Maven Pro', sans-serif;  
    font-size: 48px; 
    font-weight: 500;  
    margin: 0;  
    margin-bottom: 60px;  
}

.top {
    max-width: 1000px; 
    width: 100%; 
    margin: 0 auto;  
}

.first-part {
    display: flex;  
    flex-direction: row-reverse;  
    justify-content: space-between; /* Placera elementen på varsin sida */
    align-items: center;  
    font-family: 'Open Sans', sans-serif;  
    max-width: 911px;  
    width: 100%; 
}

.greenCircleDiv1 {
    margin-left: 3rem; 
    width: 40%;  
    display: flex;  
    justify-content: flex-end; /* Placera cirkeln längst till höger */
}

.seedBg {
    background-color: #0A846E; 
    border-radius: 50%;  
    width: 377px;  
    height: 377px; 
}

.seed {
    padding: 100px;  
    width: 197px;  
    height: 194px;  
}

.textContent1 {
    margin-left: 3rem;  
    width: 60%; 
    display: flex;  
    flex-direction: column;  
    justify-content: flex-start;  
    gap: 10px; /* Utrymme mellan elementen */
    text-align: left;  
}

.season {
    margin-bottom: 10px;  
    display: flex; 
    justify-content: flex-start;  
    font-family: 'Open Sans', sans-serif;  
    font-weight: 700;  
    font-size: 32px;  
}

.description {
    display: flex;  
    justify-content: flex-start; 
    text-align: start;  
    font-weight: 400;  
    font-size: 16px;  
}

.tips {
    margin: 0;  
    display: flex;  
    justify-content: center; 
    align-items: center;  
    width: 179px; 
    height: 63px;  
    background-color: #0A846E;  
    color: white;  
    border-radius: 9px;  
    text-align: center;  
    border: none;  
    font-weight: 700;  
    font-size: 24px;  
    box-shadow: 3px 3px 3px #858585;  
    align-self: flex-end;  
}

.tips:hover {
    background-color: #dcd91b; /* Bakgrundsfärg vid hover */
    box-shadow: 0 12px 16px 0 rgb(217, 217, 217), 0 17px 50px 0 rgba(0, 0, 0, 0.19); /* Skugga vid hover */
}

.tips:active {
    background-color: #096856; /* Bakgrundsfärg vid klick */
    transform: translateY(4px); /* Flytta ner knappen vid klick */
}

hr {
    text-align: center;  
    background-color: #055647;  
    border: none;  
    width: 333px;
    height: 3px;  
    margin-top: 3rem;  
    margin-bottom: 1rem; 
}

/* middle */
.middle { 
    max-width: 932px; 
    width: 100%;  
    margin: auto; 
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center; 
}


.middle-name {
    margin: 2rem;  
    text-align: center; 
    font-family: 'Lato', sans-serif;  
    font-weight: 600;  
    font-size: 32px;  
}

.middle-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 1rem; 
    justify-content: space-between; 
    align-items: center; /* Centrera elementen vertikalt */
}

.pictures-wrapper {
    position: relative; /* Position för innehållet */
    max-height: 293.54px;  
    overflow: hidden; /* Dölja överflödig del av innehållet */
}

.card {
    box-shadow: 6px 6px 6px #858585; /* Skugga för korten */
    width: 293.54px;  
    margin-bottom: 25px;  
}

.supreme {
    margin: auto;  
    width: 293.54px;  
    height: 296px;  
    display: block;  
    object-fit: cover; /* Fyller kortet utan att ändra proportioner */
    background-position: center; 
}

.pot {
    width: 150px;  
    height: 205px; 
    position: absolute;  
    top: 19%; 
    right: 25%; 
}

.item1 {
    margin: auto; 
    padding: 10px;  
}

.first-row {
    display: flex;  
    flex-direction: row;  
    justify-content: space-between;  
    align-items: center;  
}

.second-row {
    display: flex;  
    flex-direction: row;  
    justify-content: space-between;  
    align-items: center;  
}

.open700 {
    font-family: 'open', sans-serif; 
    font-weight: 700;  
    font-size: 16px;  
}

.lato600 {
    font-family: 'Lato', sans-serif;  
    font-weight: 600;  
    font-size: 24px; 
}

.lato300 {
    font-family: 'Lato', sans-serif;  
    font-weight: 300;  
    font-size: 16px;  
}

.remove {
    background-color: #B93857;  
    border: none;  
    border-radius: 9px; 
    padding: 7px 23px;  
    color: white;  
    font-family: 'Open Sans', sans-serif;  
    font-weight: 700;  
    font-size: 15px;  
}

.remove:hover {
    background-color: #e8476d;  
    box-shadow: 0 12px 16px 0 rgb(217, 217, 217), 0 17px 50px 0 rgba(0, 0, 0, 0.19); /* Skugga vid hover */
}

.remove:active {
    background-color: #c10d2b;  
    transform: translateY(4px);  
}

.only-button {
    max-width: 1000px; 
    width: 100%; /* Gör knappen responsiv */
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;  
    margin: 0 auto;  
}

.more {
    margin: 3rem;  
    background-color: rgba(10, 132, 110, 255); /* Bakgrundsfärg för knappen */
    color: white;  
    border-radius: 8px;  
    padding: 17px;  
    border: none;  
    width: 157px;  
    font-family: 'Inter', sans-serif;  
    font-weight: 600; 
    font-size: 24px; 
    box-shadow: 3px 3px 3px #858585;
}

.more:hover {
    background-color: #dcd91b; 
    box-shadow: 0 12px 16px 0 rgb(217, 217, 217), 0 17px 50px 0 rgba(0, 0, 0, 0.19); /* Skugga vid hover */
}

.more:active {
    background-color: #096856; 
    transform: translateY(4px); 
}

.wrapperAroundMain { 
    display: flex;
    justify-content: center; 
    max-width: 1000px;
    width: 100%;
    margin-bottom: 2rem;
}

.mainSectionWithGreenCircle {
    display: flex;
    flex-direction: row-reverse; 
    align-items: flex-start;  
}

.greenCircle {
    background-color: #0A846E;
    width: 377px;  
    height: 377px;  
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.textContent2 {
    margin-top: 4rem ;
    max-width: 500px; 
    width: 100%;
    display: flex;
    flex-direction: column;  
    justify-content: flex-start;  
    gap: 20px;  
    text-align: left;  
}

.odlingarText {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin: 0%;
}

.easterIsHereText {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-right: 1rem;
}

.btnPlantedPlants {
    background-color: #0A846E;
    border-radius: 8px;
    height: 63px;
    width: 281px;
    font-size: 24px;
    color: #fff;
    border: none;  
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    box-shadow: 3px 3px 3px rgba(133, 133, 133, 0.5);  
    cursor: pointer;
    margin: 0; 
    transition: background-color 0.3s, box-shadow 0.3s;  
}

.btnPlantedPlants:hover {
    background-color: #dcd91b;
    box-shadow: 0 12px 16px rgba(217, 217, 217, 0.5), 0 17px 50px rgba(0, 0, 0, 0.19);
}

.btnPlantedPlants:active {
    background-color: #096856;
    transform: translateY(4px);
}

.btnPlantedPlants:focus {
    outline: none;  
}



/* MainLogin */
.mainLogin {

    background-image: url(assets/massagrönsaker.avif);  
    background-position: center; /* Centrera bakgrundsbilden */
    background-size: cover; /* Täck hela området med bilden (kan läggas till för att förbättra utseendet) */
    width: 1000px;  
    height: 100vh;  
    display: flex; /* Använder flexbox för att arrangera innehållet */
    justify-content: center; /* Centrera innehållet horisontellt */
    align-items: center; /* Centrera innehållet vertikalt */


}

.login-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
} 

.input-field {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}  

.login-button {
    padding: 10px;
    margin-top: 10px;
    border: none;  
    border-radius: 5px;  
    background-color: #4CAF50;  
    color: white;  
    font-size: 16px;  
    cursor: pointer; 
}

.login-button:hover {
    background-color: #b7f217; /* تغيير لون الخلفية عند التمرير */
}

/* Footer*/

.helaFooter {
    margin: auto;
    max-width: 1000px;
    width: 100%;
}

.helaMinFooter {
    background-image: url(./assets/handsidan.avif);
    background-size: cover;  
    background-position: center;  
    max-width: 1000px;
    width: 100%;
    height: 590px;
    margin: auto;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-areas: "svartBakgrund heartLogo"; 
    align-items: center; 
    color: aliceblue;
    position: relative; 
}

.heartLogoFooterContainer {
    display: flex;
    flex-direction: column;  
    justify-content: center;  
    align-items: center;  
    max-width: 500px;
    width: 100%;  
    height: 100%;  
    grid-row: 1;  
}

.heartLogoFooter {
    height: 186px;
    width: 190px;
    margin: 0;  
}

.svartBakgrundContainer {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;  
    width: 100%;  
    height: 100%; 
    grid-area: svartBakgrund; 
}

.svartBakgrund {
    margin: auto;
    max-width: 500px;  
    width: 100%;
    height: 590px;  
    background-image: linear-gradient(rgba(0, 0, 0, 0.79), rgba(0, 0, 0, 0.79));
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas: "vi-hors" "kontakt";  
}

.seeYa {
    margin-top: 3rem;
    grid-area: vi-hors;  
    display: flex;
    justify-content: center; 
    align-items: center;  
    font-family: 'Maven Pro', sans-serif;
    font-weight: 500;
    font-size: 50px;
    height: 100%;  
}

.kontaktDiv {
    margin: 0% auto;
    padding: 20px;
    grid-area: kontakt;  
    display: flex;
    flex-direction: column;  
    justify-content: space-between;  
    align-self: flex-end;  
    max-width: 500px;
    height: auto; 
}

.kontakt {
    padding: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    max-width: 500px;
}

.leftside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    margin-right: 3rem;  
}

.leftside img {
    width: 31.21px;
}

.rightside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;
    margin-left: 3rem;  
}

.rightside img {
    width: 35px;
    height: 35px;
}

.text-bottom {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.tillToppenAvSidan {
    color: black;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    height: 64px;
    bottom: 20px;  
    right: 20px;   
    text-align: center;  
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    font-family: open sans;
    margin-bottom: 3rem;
}

.tillToppenAvSidanP {
    color: black;
    font-size: 24px;
}



@media (max-width: 390px) {

    body {
        max-width: 390px;
    }

    /* header */

    .header {
        flex-direction: column;
    }
    
    .backgroundImageHeader {
        max-width: 390px;
        width: 100%;
        height: 390px;
        position: relative;
    }

    .backgroundImageHeader::before {
        content: '';
        position: absolute;
        top: 10px; 
        right: 10px; 
        width: 30px;
        height: 4px;
        background-color: white;
        box-shadow: 0 8px 0 white, 0 16px 0 white;
    }
    
    .heartLogoHeader {
        width: 189.88px;
        height: 186px;
    }
    
    .brownBackground, aside.greenBackground {
        width: 195px;
        height: 195px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    body header section {
        display: flex;
        justify-content: space-between;
        max-width: 390px;
        width: 100%;
    }
    
    .spadeIcon {
        height: 130px;
        width: 97.9px;
    }
    
    .seedlingIcon {
        height: 124px;
        width: 111.44px;
    }

    /* Nav */
    
    .menu {
        display: none;
    }

    /* Main */

    .main {
        max-width: 390px;
    }
    

    .main-name {
        font-size: 24px;  
    }
    
    .first-part {
        max-width: 390px;
        flex-direction: column;    
    }

    .textContent1 {
        margin: 1px;
        max-width: 390px;
        width: 100%;
        justify-content: center; 
        gap: 0;
        text-align: center; 
    }

    .season {
        font-size: 16px;    
        justify-content: center;
        text-align: center; 
    }
    
    .description {
        justify-content: center;
        text-align: center;
        font-size: 14px;
        text-align: center; 
    }
    
    .tips {
        width: 98.63px;
        height: 34.71px;
        font-size: 16px;
        align-self: center;  
    }

    .greenCircleDiv1 {
        margin: 0%;
        max-width: 390px;
        width: 100%;
        justify-content: center;
    }
    
    .seedBg {
        width: 241px; 
        height: 241px;
        margin-top: 20px;
        margin-bottom: 10px; 
    }
    
    .seed {
        margin: auto;
        padding: 60px;
        width: 126px;
        height: 124px;
    }
    
    hr {
        margin-top: 20px; 
        width: 202px;
        height: 3px;
    }

    .middle { 
        max-width: 390px;
        justify-content: space-between;
    }

    .middle-name {
        width: 390px;
        height: 22px;
        font-size: 17px;
    }

    .middle-container {
        max-width: 390px;
        width: 100%;
        grid-gap: 0.5rem;
        grid-template-columns: repeat(2, 1fr);
        margin: 0%;
    }

    .pictures-wrapper {
        width: 175px;
        height: 160px;
    }

    .card {
        box-shadow: 6px 6px 6px #bcbcbc;
        width: 175px;
        height: 220px;
        margin: auto;
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
    }

    .supreme {
        width: 175px;
        height: 160px;
    }

    .pot {
        width: 64.3px;
        height: 89.72px;    
    }

    .item1 {
        margin: 0%;
        padding: 5px;
        height: 60px;
        display: flex;
        flex-direction: column;  
        justify-content: center;  
        align-items: center;
    }
    
    .first-row, .second-row {
        max-width: 390px;
        width: 100%;  
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto; 
        
    }
    
    .open700 {
        margin: 0%;
        font-size: 10px;
    }
    
    .lato600 {
        margin: 0%;
        font-size: 14px;
    }
    
    .lato300 {
        margin: 0%;
        font-size: 10px;
    }
    
    .remove {
        background-color: white;
        margin: 0%;
        padding: 0;
        font-size: 0;
        width: 13.15px;
        height: 16px;
        position: relative;
    }
    
    .remove::before {
        content: "\f2ed";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        font-size: 16px;
        color: #B93857;
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }    

    .only-button {
        margin-bottom: 70px;
    }
    
    button.more {  
        margin-bottom: 0%;
        display: flex;
        justify-content: center; 
        align-items: center;
        border-radius: 9px;
        width: 115.67px;
        height: 34.71px;
        text-align: center;
        font-size: 16px;

    }

    .wrapperAroundMain { 
        max-width: 390px;
        flex-direction: column;   
        align-items: center;
        margin-bottom: 4rem;
    }
    
    .mainSectionWithGreenCircle {
        padding: 10px;
        margin: auto;
        flex-direction: column; 
        align-items: center; 
    }
    
    .greenCircle {
        width: 240px; 
        height: 240px;
        margin: auto;
        
    }

    .plantInPot {
        width: 94.85px;
        height: 131.95px;
    }

    .textContent2 {
        margin-top: 2rem ;
        justify-content: center;
        align-items: center;  
        text-align: center;  
        max-width: 390px;
    }
    
    .odlingarText {
        height: 22px;
        text-align: center;
        font-size: 16px;
    }

    .easterIsHereText {
        margin: auto;
        max-width: 390px;
        width: 100%;
        font-size: 14px;
        text-align: center;  
    }
    
    .btnPlantedPlants {
        margin-top: 1rem;
        border-radius: 9px;
        height: 35px;
        width: 179px;
        font-size: 16px;
    }
    
    .mainLogin {
        max-width: 390px;
        width: 100%; 
        position: relative;
    }

    .mainLogin::before {
        content: '';
        position: absolute;
        top: 10px; 
        right: 10px; 
        width: 30px;
        height: 4px;
        background-color: white;
        box-shadow: 0 8px 0 white, 0 16px 0 white; 
    }
    
    .login-container {
        width: 200px;
    } 
    
    .input-field {
        font-size: 14px;
    }  
    
    .login-button {
        font-size: 14px;  
    }
    
    .helaMinFooter { 
        width: 390px; 
        height: 774px;
    }

    .heartLogoFooter {
        height: 186px;
        width: 190px;
        margin: 0;  
    }
    
    .heartLogoFooterContainer {
        max-width: 390%;  
    }
    
    .heartLogoFooter {
        height: 186px; 
        width: 189.88px; 
        margin: auto; 
    }
    
    .svartBakgrundContainer {
        display: flex;
        flex-direction: column;  
        justify-content: space-between;  
        width: 390px;   
        grid-row: 2;  
    }

    .seeYa {
        margin-top: 3rem;
        grid-area: vi-hors;  
        display: flex;
        justify-content: center; 
        align-items: center;  
        font-family: 'Maven Pro', sans-serif;
        font-weight: 500;
        font-size: 50px;
        height: 100%;  
    }

    
    .svartBakgrund {
        height: 100%; 
        grid-template-rows: auto 1fr; 
        margin: 0;  
    }
    
    .seeYa {
        max-width: 390px;
        width: 100%; 
        font-size: 32px; 
    }
    
    .seeYalater {
        font-weight: 500;
        
    }
    
    .kontaktDiv {
        margin-top: 30px;
        justify-content: center;  
        align-items: center; 
        max-width: 390px;  
        width: 100%;   
        box-sizing: border-box;  
    }
    
    .kontakt {
        align-items: center; 
        max-width: 390px;
        width: 100%;  
        box-sizing: border-box;  
        height: auto;  
    }


    .leftside, .rightside {
        margin-right: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; 
    }

    .rightside {
        margin-left: 1rem;
    }

    .leftside img {
        width: 18.56px;
        
    }
    
    .rightside img {
        width: 22px;
        height: 20px;
    }
    

    .text-bottom {
        font-size: 12px;
    }

    .tillToppenAvSidan {
        max-width: 390px;
        width: 100%;
        height: 64px;
        font-size: 12px;
        margin-bottom: 2rem;
        text-decoration: none; 
        line-height: 64px; 
    }
    
    .tillToppenAvSidanP {
        margin: 0;
        font-size: 12px;
    }

}


